---
---

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);

$background: #FAF4F0;
$black: #131112;
$highlight: #ffffdd;
$link-color: #E55934;

html {
    font-family: 'Roboto';
    font-size: 18px;
    color: $black;
    background-color: $background;

    a {
        color: $link-color;
    }
}


#top {
    background-color: $background;
    a {
        color: $link-color;
    }

    li > a {
        font-size: 18px;
    }
}

a:hover {
    border-bottom: 1px solid;
}

h1, h2, h3, .nametitle, .sectitle, .homelink, .title, .postdate {
    font-family: 'Roboto Slab';
}

.nav-margins {

    @media (min-width: 992px) {
        max-width: 70vw;
        margin: 0 auto;
    }
}

.site {
    font-family: 'Roboto';
    margin: 3em auto 2em !important;
    font-size: 18px;

    ul {
        //list-style-type: none;
    }

    li {
      margin-top: 0.5em;
    }

  .collapsible-header {
      background-color: $background;
  }
}

.nametitle {
    font-size: 1.9em;
}

.sectitle {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}

.projtitle {
    font-size: 1.2em;
    margin: 1em 0 0.5em;
}


#intro-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;

    &.wrap-not-reverse {
        flex-wrap: wrap;
    }

    #images {
        flex: 1 0 20%;
        min-width: 15em;
        margin-top: 1em;
        * {
            margin: 0 auto;
            text-align: center;
        }
        img {
            width: min(15em, 90%);
            display: block;
        }
    }

    .intro {
        flex: 1 0 60%;
        min-width: 60%;
    }
}


.container {
    @media (min-width: 1025px) {
        max-width: 1025px !important;
    }
}

.homelink {
    text-align: right;
    font-size: 32px;
    text-decoration: none;
    color: $black;
    display: block;
    margin-bottom: 15px;
}

.homelink:visited {
    color: $black;
}

.homelink:active{
    color: $black;
}

.post {
    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .postdate {
        font-weight: bold;
    }
}

.row {
  margin-bottom: 0.3rem;
}

.date {
  min-width: 7rem;
  margin-right: 0.5em;
  font-weight: bold;
}

.tag {
  min-width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.thumbnail {
    width: 120px;
    height: 120px;
    border: solid 1.5px;
}

.featured {
    width: 100%;
    border: solid 3px;
}

#tail {
    font-size: 18px;
    margin: 0 5em 3em 0;
    text-align: right;
}

.project-summary {
    display: flex;

    .project-summary-thumbnail {
        display: inline-block;
        margin-right: 1em;
        flex: 0 1 auto;
    }

    .project-summary-text {
        flex: 0 1 auto;
    }

    padding-bottom: 0.5em;
    border-bottom: 1px solid;
    margin: 1em 0;
}

.paper {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    .paper-title {
        font-weight: bold;
    }

    .paper-authors {
        font-style: italic;
    }

    .paper-journal {
        background-color: $highlight;
    }
}
