---
---

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html {
    font-family: 'Roboto Slab';
    font-size: 18px;
    color: #333;
    background-color: #f3f1ee;
}

.site {
    text-align: justify;
    width: 42em;
    margin: 3em auto;
    h1 {
        font-size: 100%;
    }

    li, ul {
        list-style-type: none;
    }
}

.post {
    .title {
        font-size: 32px;
        font-weight: bold;
    }

    .postdate {
        font-weight: bold;
    }
}
