---
---

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    font-family: 'Roboto';
    font-size: 18px;
    color: #333;
    background-color: #f3f1ee;
}

h1, h2, h3, .nametitle, .homelink, .title, .postdate {
    font-family: 'Roboto Slab';
}

.nametitle {
    font-size: 1.3em;
}

#images {
    float: right;
    margin: 0.5em;
    img {
        width: min(320px, 90%);
        display: block;
    }
}

@media (max-width: 480px) {
    .intro {
        clear: both;
    }

    #images {
        float: none;
    }
}

.container {
    @media (min-width: 1025px) {
        max-width: 1025px !important;
    }
}

.site {
    font-family: 'Roboto';
    margin: 3em auto !important;
    font-size: 18px;


    ul {
        //list-style-type: none;
    }

    li {
      margin-bottom: 1em;
    }

  .collapsible-header {
      background-color: #f3f1ee;
  }
}

.homelink {
    text-align: right;
    font-size: 32px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
}

.homelink:visited {
    color: black;
}

.homelink:active{
    color: black;
}

.post {
    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .postdate {
        font-weight: bold;
    }
}

.row {
  margin-bottom: 0.3rem;
}

.date {
  min-width: 7rem;
  margin-right: 0.5em;
  font-weight: bold;
}

.tag {
  min-width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.gallery {
    .thumbnail {
        width: 120px;
    }
}
