---
layout: default
---

<div class="nametitle">Sam Zhang's Homepage</div>

<div id="intro-container">

<div class="intro">

    <p>
    I am an Applied Complexity postdoc at the <a href="https://santafe.edu" target="_blank">Santa Fe Institute</a>, and starting in Fall 2025, an Assistant Professor of Statistics affiliated with the <a href="https://vermontcomplexsystems.org" target="_blank">Vermont Complex Systems Institute</a> at the University of Vermont.

    <p>

    I received my PhD in Applied Mathematics from the University of Colorado Boulder, advised by <a href="https://aaronclauset.github.io/" target="_blank">Aaron Clauset</a> and <a href="https://larremorelab.github.io/" target="_blank">Dan Larremore</a>, where I was supported by an NSF Graduate Research Fellowship.
    During my PhD, I worked as a PhD research intern with the <a href="https://www.microsoft.com/en-us/research/theme/computational-social-science/" target="_blank">MSR NYC Computational Social Science group</a> and the <a href="https://hrdag.org" target="_blank">Human Rights Data Analysis Group</a>.

    <div>
        <div>
            <img alt="my email is shimian dot my last name at gmail.com" src="/images/email.png" />
        </div>
    </div>

    <p>

    <div><a href="/html/about/" target="_blank">More about me here.</a></div>
    <p>

</div>

<span id="images">
    <img id="headshot" src="/images/me-sfi-4-low.jpg" />
    <div>Pronouns: he/him.</div>
    <div> <a href="https://drive.google.com/file/d/1OE7QoxoABqyt_taL8X0DXcrj5LStpAIp/view?usp=sharing" target="_blank" data-goatcounter-click="ext-cv">Link to CV</a> </div>
    <div>
        <a href="https://scholar.google.com/citations?user=PBxD9qIAAAAJ&hl=en" target="_blank" data-goatcounter-click="ext-google-scholar">Google Scholar</a>
    </div>
    <div>
        <a href="https://github.com/samzhang111" target="_blank" data-goatcounter-click="ext-github">Github</a> 
    </div>
    <div>
        <a href="https://fediscience.org/web/@sz" target="_blank" rel="me" data-goatcounter-click="ext-mastodon">mastodon</a> -
        <a href="https://bsky.app/profile/samzhang.bsky.social" target="_blank" data-goatcounter-click="ext-bluesky">bluesky</a> -
        <a href="https://twitter.com/_szhang" target="_blank" data-goatcounter-click="ext-twitter">twitter</a>
    </div>
</span>

</div>

<div id='recent' class="vertical-section">
          <div class="sectitle">Upcoming</div>

          <ul>
              <li><b>April 2025:</b> Visiting HRDAG in San Francisco.</li>
              <li><b>May 2025:</b> Attending the SIAM Dynamical Systems Conference in Denver.</li>
              <li><b>June 2025:</b> Attending the <a href="https://www.birs.ca/events/2025/5-day-workshops/25w5326" target="_blank">Collective Social Phenomena: Dynamics and Data</a> workshop at The Casa Matemática Oaxaca. I also plan to be at ICSSI in Copenhagen. </li>
              <li><b>July 2025:</b> I plan to attend IC2S2 in Sweden.</li>
              <li><b>August 2025:</b> Starting at the University of Vermont.</li>
          </ul>
          <div class="sectitle">News</div>
          <ul>
              <li><b>Spring 2025:</b> Attended this <a href="https://philosophy.missouri.edu/event/social-aspects-science-and-innovation-workshop" target="_blank">Social Aspects of Science and Innovation</a> Workshop at Mizzou.</li>
              <li><b>Winter 2025:</b> Gave a talk for a joint seminar at the Nationwide Children's Hospital and The Ohio State University. Spent February at Cornell University visiting <a href="https://mggg.org/people/mduchin/" target="_blank">Moon Duchin</a>.</li>
              <li><b>Fall 2024:</b> Started my postdoc at the Santa Fe Institute. Talks at the <a href="https://www.networkscienceinstitute.org/talks/sam-zhang" target=_blank">Network Science Institute</a>, <a href="https://sites.google.com/view/reproducibilitea-ucl/home?authuser=0" target="_blank">UCL-UNIL ReproducibiliTea</a>, UVM MassMutual Center of Excellence in Complex Systems and Data Science, as well as an SFI working group on Emergent Engineering. 
                  . <a href="https://www.sciencedirect.com/science/article/pii/S0169207024000694" target="_blank">New paper</a> led by Matt Hardy in the International Journal of Forecasting.</li>
              <li><b>Summer 2024:</b> Successfully defended my thesis! Honored to speak at the <a href="/text/commencement.txt" target="_blank">Applied Mathematics commencement ceremony</a> for the graduating PhD students. Talks at <a href="https://ic2s2.org/" target="_blank">IC2S2</a> in Philadelphia and the <a href="https://www.wnar.org/wnar2024" target="_blank">WNAR/IMS/Graybill Annual Meeting</a> in Ft. Collins. Participated in a <a href="https://icerm.brown.edu/collaborate/" target="_blank">Collaborate@ICERM</a> group in May.</li>
</div>

<div id="pubs" class="vertical-section">
    <div class="sectitle">Publications</div>
    <div>Also see <a href="https://drive.google.com/file/d/1OE7QoxoABqyt_taL8X0DXcrj5LStpAIp/view?usp=sharing" target="_blank" data-goatcounter-click="ext-cv">[CV]</a> or <a href="https://scholar.google.com/citations?user=PBxD9qIAAAAJ&hl=en" target="_blank" data-goatcounter-click="ext-google-scholar">[Google Scholar]</a>.</div>

    <div><em>&Dagger; indicates alphabetical authorship.</em></div>

	<ol class="bibliography" >

		<li class="selected">
			<div id="zhang2022illusion">
				<div><a target="_blank" href="https://www.pnas.org/doi/10.1073/pnas.2302491120">An illusion of predictability in scientific results: Even experts confuse inferential uncertainty and outcome variability.</a></div>
				<div><b>S. Zhang</b>, P.R. Heck, M.N. Myers, C.F. Chabris, D.G. Goldstein, &amp; J.M. Hofman. <em>PNAS</em>, <b>120</b>(33): e2302491120 (2023).</div>
				<div><a target="_blank" href="https://fediscience.org/@ct_bergstrom/110267907188002904">[Carl Bergstrom's kind words about our paper]</a></div>
			</div>
		</li>

		<li class="selected">
			<div id="zhang2022labor">
				<div><a target="_blank" href="https://arxiv.org/abs/2309.04414">Scientific productivity as a random walk.</a></div>
				<div><b>S. Zhang</b>, N. LaBerge, S.F. Way, D.B. Larremore, &amp; A. Clauset. Submitted (2023).</div>
			</div>
		</li>

		<li class="selected">
			<div id="zhang2022labor">
				<div><a target="_blank" href="https://www.science.org/doi/10.1126/sciadv.abq7056">Labor advantages drive the greater productivity of faculty at elite universities.</a></div>
				<div><b>S. Zhang</b>, K.H. Wapman, D.B. Larremore, &amp; A. Clauset. <em>Science Advances</em>, <b>8</b>(46) (2022).</div>
			</div>
		</li>

		<li>
			<div id="hardy2024bootstrap">
				<div><a target="_blank" href="https://doi.org/10.1016/j.ijforecast.2024.07.002">Improving out-of-population prediction: The complementary effects of model assistance and judgmental bootstrapping</a></div>
				<div>M. D. Hardy, <b>S. Zhang</b>, J. Hullman, J. M. Hofman, D. G. Goldstein. <em>International Journal of Forecasting</em> (2024).</div>
			</div>
		</li>

		<li>
			<div id="conway2023peakspreading">
				<div><a target="_blank" href="https://doi.org/10.1371/journal.pone.0290534">Rush-hour-and-a-half: traffic is spreading out post-lockdown.</a></div>
				<div>Matthew W Bhagat-Conway, <b>S. Zhang</b>. <em>PLOS ONE</em>, <b>18</b>(9): e0290534 (2023).</div>
			</div>
		</li>

		<li>
			<div id="benzeev2023tenure">
				<div><a target="_blank" href="https://academic.oup.com/pnasnexus/article/2/1/pgac287/7005261">Formalizing tenure of Indigenous lands improved forest outcomes in the Atlantic Forest of Brazil.</a></div>
				<div>Rayna Benzeev, <b>S. Zhang</b>, Marcelo Rauber, Eric A Vance, Peter Newton. <em>PNAS Nexus</em>, <b>2</b>: pgac287 (2023).</div>
			</div>
		</li>

		<li>
			<div id="spoon2023retention">
				<div><a target="_blank" href="https://www.science.org/doi/10.1126/sciadv.adi2205">Gender and retention patterns among U.S. faculty.</a></div>
				<div>Katie Spoon, Nicholas LaBerge, K Hunter Wapman, <b>S. Zhang</b>, Allison C Morgan, Mirta Galesic, Daniel B Larremore, Aaron Clauset. <em>Science Advances</em>, <b>9</b>(42) (2023).</div>
			</div>
		</li>

		<li class="selected">
			<div id="wapman2022quantifying">
				<div><a target="_blank" href="https://doi.org/10.1038/s41586-022-05222-x">Quantifying hierarchy and dynamics in U.S. faculty hiring and retention.</a></div>
				<div>K.H. Wapman, <b>S. Zhang</b>, A. Clauset, &amp; D.B. Larremore. <em>Nature</em>, <b>610</b>(7930): 120-127 (2022).</div>
			</div>
		</li>

		<li>
			<div id="li2022untangling">
				<div><a target="_blank" href="https://doi.org/10.1038/s41467-022-32604-6">Untangling the network effects of productivity and prominence among scientists.</a></div>
				<div>Weihua Li, <b>S. Zhang</b>, Zhiming Zheng, Skyler J Cranmer, Aaron Clauset. <em>Nature Communications</em>, <b>13</b>: 4907 (2022).</div>
			</div>
		</li>

		<li>
			<div id="laberge2022subfield">
				<div><a target="_blank" href="https://cacm.acm.org/magazines/2022/12/266925-subfield-prestige-and-gender-inequality-among-us-computing-faculty/fulltext">Subfield prestige and gender inequality in computing.</a></div>
				<div>Nicholas LaBerge, K Hunter Wapman, Allison C Morgan, <b>S. Zhang</b>, Daniel B Larremore, Aaron Clauset. <em>Communications of the ACM</em>, <b>65</b>(12): 46-55 (2022).</div>
			</div>
		</li>

		<li>
			<div id="devadoss2022unfoldings">
				<div>&Dagger; <a target="_blank" href="https://drops.dagstuhl.de/opus/volltexte/2022/16075/pdf/LIPIcs-SoCG-2022-67.pdf">Visualizing and Unfolding Nets of 4-Polytopes.</a></div>
				<div>Satyan L Devadoss, Matthew S Harvey, <b>S. Zhang</b>. <em>38th International Symposium on Computational Geometry (SoCG 2022)</em>.</div>
			</div>
		</li>

		<li>
			<div id="larremore2022epi">
				<div><a target="_blank" href="https://doi.org/10.1016/j.epidem.2022.100634">Optimizing prevalence estimates for a novel pathogen by reducing uncertainty in test characteristics.</a></div>
				<div>Daniel B Larremore, Bailey K Fosdick, <b>S. Zhang</b>, Yonatan H Grad. <em>Epidemics</em>, <b>41</b> (2022).</div>
			</div>
		</li>

		<li>
			<div id="larremore2021estimating">
				<div><a target="_blank" href="https://elifesciences.org/articles/64206">Estimating SARS-CoV-2 seroprevalence and epidemiological parameters with uncertainty from serological surveys.</a></div>
				<div>Daniel B Larremore, Bailey K Fosdick, Kate M Bubar, <b>S. Zhang</b>, Stephen M Kissler, C Jessica E Metcalf, Caroline O Buckee, Yonatan H Grad. <em>eLife</em>, <b>10</b>: e64206 (2021).</div>
			</div>
		</li>


<div class="projtitle">
    <a href="#" id="toggleLink">[+] Show more publications</a>
</div>

</ol>

</div>

<div id="projects" class="vertical-section">
    <div class="sectitle">Visualizations</div>

    <div>
        I was drawn to study math because I found it to be beautiful.
        I hope I can share some of that beauty through these interactive visualizations.
        I made many of these visualizations to learn the concepts myself, but occasionally they are also part of larger projects.
        <em>Note: many of these visualizations only work on desktop.</em>
    </div>

    {% for post in site.posts %}
        {% if post.tag == 'nora' %}
            {% continue %}
        {% endif %}

        {% capture main_url %}
            {% if post.mainurl %}
                {{ post.mainurl | absolute_url }}
            {% else %}
                {{ post.url | absolute_url }}
            {% endif %}
        {% endcapture %}

        <div class="project-summary">
            <div class="project-summary-thumbnail">
                <a href="{{ main_url }}" target="_blank"><img class="thumbnail" src="/images/thumbnails/{{ post.thumbnail }}" /></a>
            </div>
            <div class="project-summary-text">
                <span class="projtitle"><a href="{{ main_url }}" target="_blank">{{ post.title }}</a></span>
                <div class="description">{{ post.description }}</div>
                {% if post.papers %}
                    <div class="papers">
                        {% for paper in post.papers %}
                        <div class="paper">
                            <div class="paper-title">{{ paper.title }}</div>
                            <span class="paper-authors"> {{ paper.authors }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="paper-journal"> {{ paper.journal }}, {{ paper.year }}</span>
                            <span class="paper-link"> <a href="{{ paper.link }}" target="_blank">[paper]</a></span>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="urls">
                    <a href="{{ main_url }}" target="_blank">[link]</a> 
                    {% if post.links %}
                        {% for link in post.links %}
                        <a href="{{link}}" target="_blank">[link]</a>
                        {% endfor %}
                    {% endif %}
                    {% if post.fullscreen %}
                    <a href="{{post.fullscreen}}" target="_blank">[fullscreen]</a>
                    {% endif %}
                    {% if post.source %}
                    <a href="{{post.source}}" target="_blank">[source]</a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
</div>
</div>

