---
layout: basic
title: nora
---

Some basic facts about my friendship with Nora:

<ul>
    <li>We met in freshman year of high school, but we didn't start dating until after college. We were together for nine years.</li>
    <li>We moved out to Boulder together in January 2016, with our greyhound Tulia. We kept <a href="https://tuliasadventures.wordpress.com" target="_blank">a blog for our families</a> that might give you a taste of her/our sense of humor.</li>
    <li>Nora had a disabling chronic illness during our entire relationship. She worked more intensely on her own healing than I've known anyone to do anything, which was one of a million reasons I admired her.</li>
    <li>Nora died by suicide at the end of February 2024. She had well-articulated political beliefs about everything, and that included making medically assisted dying more broadly available. Her suicide wasn't impulsive and I am certain that it couldn't have been prevented in any reasonable sense. I wish our country could have had the legislation to allow her friends and family to be with her legally as she crossed over.</li>
    <li>Even in the worst of her suffering, she never allowed herself to detach from the broader suffering of the world. She was a brilliant political thinker. Nora was informed by her Jewishness in her opposition of colonialism and capitalism, and at the time of her death, the most important issue to her was a free Palestine. She was one of the bravest people I knew.</li>
    <li>Nora was at the very center of my life and I still feel her presence all the time. I miss her dearly.</li>
</ul>

    <p>
    <br/>
    Nora's goodbye poem:

    <p>
    <br/>
    <em>Find me in the water</em>
    <br/>
    <em>In the trees</em>
    <br/>
    <em>In the tiny things crawling</em>
    <br/>
    <em>amongst tiny things</em>

    <p>
    <br />
    <p>

    My life has been touched by a truly special love, and my goal here is to share some of that feeling with you. As I get around to more writing, I'll link to the posts here.

    {% comment %}

        <ul>
        {% for post in site.posts %}
            {% if post.tag == 'nora' %}
                <li><a href="{{ post.url }}">{{ post.date | date: "%B %-d, %Y" }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    {% endcomment %}


</body>
</html>
