---
layout: default
---

<div id="blog">

    {% for post in site.posts limit:3 %}

    <div class="post">
        <div class="title">{{ post.title }}</div>
        <div class="postdate">{{ post.date | date: "%B %-d, %Y" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>

        {% for javascript in post.scripts %}
            <script src="{{ javascript }}"></script>
        {% endfor %}

        {% for css in post.styles %}
            <link href="{{ css }}" rel="stylesheet">
        {% endfor %}

    {% endfor %}


    {% include footer.html %}
</div>
