#control-buttons {
    margin: 0 0 1em 0;
    display: flex;
    justify-content: space-between;
}

#shape-selectors {
    flex: 0 1 auto;
}

.reset-button {
    flex: 0 1 auto;
    margin: 3px;
}

.shape-selector {
    margin: 3px 0 0 3px;
}


#unfolding-parent {
    display: flex;
    min-width: 800px;
}

#unfolding-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2em 1em 2em;
    border-right: 2px solid;
    height: 100vh;
    min-height: 900px;
}

#unfolding-viz {
    flex: 1 1 auto;
    padding: 2em 2em 2.5em 2em;
    height: 100vh;
    min-height: 900px;
}

#controlinstructions {
    text-align: center;
}

#controls {
    margin: auto;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    #controls {
        width: 500px;
        height: 500px;
    }

    #viz {
    }

    #unfolding-controls {
        flex: 0 0 45em;
    }
}

@media screen and (max-width: 1024px) {
    #controls {
        width: 300px;
        height: 300px;
    }

    #viz {
    }

    #unfolding-controls {
        flex: 0 0 25em;
    }
}


#vizcontainer {
    height: 100%;
}

.instructions {
    font-size: 24px;
    font-weight: bold;
}

.subinstructions {
    font-size: 14px;
}

#draginstructions {
    text-align: center;
}
