<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    {%include head.html %}
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/katex-0.10.0-rc.1.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="/scripts/katex-0.10.0-rc.1.min.js"></script>
<script defer src="/scripts/katex-auto-render-0.10.0-rc.1.min.js" ></script>

<script>
// from https://github.com/stevenkaras/stevenkaras.github.com/blob/master/_includes/js/katex.js
// via https://karas.io/blog/math-support-with-katex-on-github-pages/
document.addEventListener("DOMContentLoaded", function() {
    M.AutoInit();

    renderMathInElement(document.body, {'delimiters' : [
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false}
    ]});

    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
        el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
    });
});
</script>

  {{ content }}


{% include custom-scripts.html %}

</body>
</html>
