<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    {%include head.html %}
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
document.addEventListener("DOMContentLoaded", function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {edge: 'left'});
    M.AutoInit();

    renderMathInElement(document.body, {'delimiters' : [
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false}
    ]});

    // from https://github.com/stevenkaras/stevenkaras.github.com/blob/master/_includes/js/katex.js
    // via https://karas.io/blog/math-support-with-katex-on-github-pages/
    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
        el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
    });
});
</script>

{% capture header_links %}
    <li><a href="/html/about/index.html">About</a></li>
    <li> <a href="https://drive.google.com/file/d/1OE7QoxoABqyt_taL8X0DXcrj5LStpAIp/view?usp=sharing" target="_blank" data-goatcounter-click="ext-cv">CV</a> </li>
{% endcapture %}

<nav id="top">
    <div class="nav-margins nav-wrapper">
        <a href="/" class="brand-logo left">homepage</a>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

          <!-- REMINDER: keep this sync'd with mobile links below -->
      <ul class="right hide-on-med-and-down">
          {{ header_links }}
      </ul>
    </div>
</nav>

  <ul class="sidenav" id="nav-mobile">
    {{ header_links }}
  </ul>

  {{ content }}


{% include custom-scripts.html %}

<script data-goatcounter="https://samzhang.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
